<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Management System</title>
</head>
<body>



	<div align="center">
		<a th:href="@{/showNewEmployeeForm}">Add Employee</a>
		<h1>Employees List</h1>
		<table border="1">
			<thead>
				<tr>
					<th>Employee First Name</th>
					<th>Employee First Last Name</th>
					<th>Employee email</th>
					<th>Actions</th>
					
				</tr>
			
			</thead>
			<tbody>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.email}"></td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}">Update</a></td>
					<td><a th:href="@{/goForDelete/{id}(id=${employee.id})}">Delete</a></td>
				</tr>
			
			
			</tbody>
		</table>
	</div>
</body>
</html>